



<section class="about-section text-center">

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h3 class="text-white mb-4">ALTEA Charity Oraganization</h3>
                    <h5 class="text-white-50">
                      The purpose of this initiative is to provide educational support to poor children from underprivileged schools by donating IT Equipment’s to their Schools.
                      The program will aim to enhance their learning by providing access to educational resources through technology.
                      The program will be implemented through partnerships with local schools and ALTEA Association.
                      The impact of the initiative will be measured by tracking the academic progress and success of educational standard of students.
                    </h5>
                </div>
            </div>

        </div>
        <span style="display:inline-block; width: 50px;"></span>
        <span style="display:inline-block; width: 50px;"></span>
        <span style="display:inline-block; width: 50px;"></span>
      </section>


<section class="projects-section bg-light" >

  <div class="container px-4 px-lg-5">
      <!-- Featured Project Row-->
      <div class="row gx-0 mb-4 mb-lg-5 align-items-center">

          <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                  <h4>Stories of Impact</h4>

                  <p class="text-black-50 mb-0">ALTEA Organization has changed the lives of many students, teachers and authorities. The donations have changing the way they learn, percieive and quality of their learning.</p>
              </div>
          </div>

          <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/homepage-photo_1.png" alt="..." /></div>
      </div>
      <!-- Project One Row-->
      <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
          <div class="col-lg-6"><img class="img-fluid" src="assets/img/homepage-photo_1.png" alt="..." /></div>
          <div class="col-lg-6">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-white">ARUKGAMMANA MAHA VIDYALAYA - Kegalle District</h4>
                          <p class="mb-0 text-white-50"> 24 Sudents studied Informtation technology for their O/L examination.
                            Out of them 20 student's passed with flying Merits
                            </p>
                          <hr class="d-none d-lg-block mb-0 ms-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Project Two Row-->
      <div class="row gx-0 justify-content-center">
          <div class="col-lg-6"><img class="img-fluid" src="assets/img/homepage-photo_1.png" alt="..." /></div>
          <div class="col-lg-6 order-lg-first">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-white">BOYS TOWN - Ragama</h4>
                          <p class="mb-0 text-white-50">The student's access to IT equipment increased the pass rate by 20%</p>
                          <hr class="d-none d-lg-block mb-0 me-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

